<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>24F74</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PDF Expert</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>pdf.icns</string>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>images</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>convertable</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.encapsulated-postscript</string>
				<string>com.adobe.photoshop-image</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.raw-image</string>
				<string>com.apple.ibooks.epub</string>
				<string>com.apple.icns</string>
				<string>com.apple.iwork.keynote.key</string>
				<string>com.apple.iwork.keynote.sffkey</string>
				<string>com.apple.iwork.numbers.numbers</string>
				<string>com.apple.iwork.numbers.sffnumbers</string>
				<string>com.apple.iwork.pages.pages</string>
				<string>com.apple.iwork.pages.sffpages</string>
				<string>com.apple.log</string>
				<string>com.apple.mail.email</string>
				<string>com.apple.pict</string>
				<string>com.apple.private.auto-loop-gif</string>
				<string>com.canon.cr2-raw-image</string>
				<string>com.canon.cr3-raw-image</string>
				<string>com.canon.crw-raw-image</string>
				<string>com.compuserve.gif</string>
				<string>com.dxo.raw-image</string>
				<string>com.epson.raw-image</string>
				<string>com.fuji.raw-image</string>
				<string>com.hasselblad.3fr-raw-image</string>
				<string>com.hasselblad.fff-raw-image</string>
				<string>com.ilm.openexr-image</string>
				<string>com.kodak.raw-image</string>
				<string>com.konicaminolta.raw-image</string>
				<string>com.leafamerica.raw-image</string>
				<string>com.leica.raw-image</string>
				<string>com.leica.rwl-raw-image</string>
				<string>com.microsoft.bmp</string>
				<string>com.microsoft.dds</string>
				<string>com.microsoft.excel.sheet.binary.macroenabled</string>
				<string>com.microsoft.excel.xls</string>
				<string>com.microsoft.excel.xlt</string>
				<string>com.microsoft.ico</string>
				<string>com.microsoft.powerpoint.pot</string>
				<string>com.microsoft.powerpoint.pps</string>
				<string>com.microsoft.powerpoint.ppt</string>
				<string>com.microsoft.word.doc</string>
				<string>com.microsoft.word.dot</string>
				<string>com.nikon.nrw-raw-image</string>
				<string>com.nikon.raw-image</string>
				<string>com.olympus.or-raw-image</string>
				<string>com.olympus.raw-image</string>
				<string>com.olympus.sr-raw-image</string>
				<string>com.panasonic.raw-image</string>
				<string>com.panasonic.rw2-raw-image</string>
				<string>com.pentax.raw-image</string>
				<string>com.phaseone.raw-image</string>
				<string>com.samsung.raw-image</string>
				<string>com.sgi.sgi-image</string>
				<string>com.sony.arw-raw-image</string>
				<string>com.sony.raw-image</string>
				<string>com.sony.sr2-raw-image</string>
				<string>com.truevision.tga-image</string>
				<string>org.idpf.epub-container</string>
				<string>org.idpf.epub-folder</string>
				<string>org.khronos.astc</string>
				<string>org.khronos.ktx</string>
				<string>org.oasis-open.opendocument.chart</string>
				<string>org.oasis-open.opendocument.formula</string>
				<string>org.oasis-open.opendocument.graphics-template</string>
				<string>org.oasis-open.opendocument.graphics</string>
				<string>org.oasis-open.opendocument.image</string>
				<string>org.oasis-open.opendocument.presentation-template</string>
				<string>org.oasis-open.opendocument.presentation</string>
				<string>org.oasis-open.opendocument.spreadsheet-template</string>
				<string>org.oasis-open.opendocument.spreadsheet</string>
				<string>org.oasis-open.opendocument.text-master</string>
				<string>org.oasis-open.opendocument.text-web</string>
				<string>org.oasis-open.opendocument.text</string>
				<string>org.openoffice.formula</string>
				<string>org.openoffice.presentation-template</string>
				<string>org.openoffice.presentation</string>
				<string>org.openoffice.spreadsheet-template</string>
				<string>org.openoffice.spreadsheet</string>
				<string>org.openoffice.text-master</string>
				<string>org.openoffice.text-template</string>
				<string>org.openoffice.text</string>
				<string>org.openxmlformats.presentationml.presentation</string>
				<string>org.openxmlformats.presentationml.slideshow</string>
				<string>org.openxmlformats.presentationml.template</string>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
				<string>org.openxmlformats.spreadsheetml.template</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>org.openxmlformats.wordprocessingml.template</string>
				<string>org.webmproject.webp</string>
				<string>public.avci</string>
				<string>public.avif</string>
				<string>public.comma-separated-values-text</string>
				<string>public.heic</string>
				<string>public.heics</string>
				<string>public.heif</string>
				<string>public.html</string>
				<string>public.jpeg-2000</string>
				<string>public.jpeg</string>
				<string>public.midi-audio</string>
				<string>public.mpo-image</string>
				<string>public.pbm</string>
				<string>public.plain-text</string>
				<string>public.png</string>
				<string>public.pvr</string>
				<string>public.radiance</string>
				<string>public.rtf</string>
				<string>public.svg-image</string>
				<string>public.tiff</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>PDF Expert</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.readdle.PDFExpert-Mac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PDF Expert</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.10.19</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.readdle.pdfexpert</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pdfexpert</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google-integration</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.490997478206-h8kaa00ljeibr2pmev6lsmk3iu07jn7a</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.readdle.email.action</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pdfe-mac-email-action</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.readdle.pdfexpert.youtube-video</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pdfe-youtube-howto</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.readdle.pdfexpert.refresh-billing-status</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pdfe-refresh-billing-status</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1128</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>24F74</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>15.5</string>
	<key>DTSDKBuild</key>
	<string>24F74</string>
	<key>DTSDKName</key>
	<string>macosx15.5</string>
	<key>DTXcode</key>
	<string>1640</string>
	<key>DTXcodeBuild</key>
	<string>16F6</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>downloads.pdfexpert.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>downloads.pdfexpert.org</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>readdle.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>PDF Expert sends events to the application for converting a document to a PDF file.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>PDF Expert requires to access microphone for taking sound annotation</string>
	<key>NSPrincipalClass</key>
	<string>PDF_Expert_DMG.RDApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>3L68KQB4HG.com.readdle.CommonDocuments</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>PDF Expert</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>NSUbiquitousDisplaySet</key>
	<string>com.readdle.CommonDocuments</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.readdle.pdfexpert.handsoffactivity</string>
		<string>com.readdle.pdfexpert.open_file</string>
	</array>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>RDShouldShowWhatIsNewOnUpdateKey</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUEnableSystemProfiling</key>
	<string>NO</string>
	<key>SUFeedURL</key>
	<string>https://downloads.pdfexpert.com/release/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>K5sdt9UTWp/TcP48oRVycKUqWUbi0Tp37zrWtFYCCfw=</string>
	<key>SUScheduledCheckInterval</key>
	<string>86400</string>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string></string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.readdle.pdfexpert.formfield</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>com.readdle.pdfexpert.annotations</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>com.readdle.ai-chat.content-reference</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
