<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>endGradColor</key>
		<dict>
			<key>R</key>
			<integer>0</integer>
			<key>G</key>
			<integer>0</integer>
			<key>B</key>
			<integer>0</integer>
			<key>A</key>
			<integer>0</integer>
		</dict>
		<key>startGradColor</key>
		<dict>
			<key>R</key>
			<integer>0</integer>
			<key>G</key>
			<integer>0</integer>
			<key>B</key>
			<integer>0</integer>
			<key>A</key>
			<integer>0</integer>
		</dict>
		<key>borderColor</key>
		<dict>
			<key>R</key>
			<integer>0</integer>
			<key>G</key>
			<integer>0</integer>
			<key>B</key>
			<integer>0</integer>
			<key>A</key>
			<integer>0</integer>
		</dict>
		<key>textColor</key>
		<dict>
			<key>R</key>
			<integer>0</integer>
			<key>G</key>
			<integer>0</integer>
			<key>B</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>startGradColor</key>
		<dict>
			<key>R</key>
			<integer>242</integer>
			<key>G</key>
			<integer>247</integer>
			<key>B</key>
			<integer>234</integer>
			<key>A</key>
			<string>216</string>
		</dict>
		<key>endGradColor</key>
		<dict>
			<key>R</key>
			<integer>206</integer>
			<key>G</key>
			<integer>224</integer>
			<key>B</key>
			<integer>199</integer>
			<key>A</key>
			<integer>216</integer>
		</dict>
		<key>borderColor</key>
		<dict>
			<key>R</key>
			<integer>64</integer>
			<key>G</key>
			<integer>107</integer>
			<key>B</key>
			<integer>28</integer>
		</dict>
		<key>textColor</key>
		<dict>
			<key>R</key>
			<integer>64</integer>
			<key>G</key>
			<integer>107</integer>
			<key>B</key>
			<integer>28</integer>
		</dict>
	</dict>
	<dict>
		<key>endGradColor</key>
		<dict>
			<key>R</key>
			<integer>255</integer>
			<key>G</key>
			<integer>199</integer>
			<key>B</key>
			<integer>199</integer>
			<key>A</key>
			<integer>216</integer>
		</dict>
		<key>startGradColor</key>
		<dict>
			<key>R</key>
			<integer>250</integer>
			<key>G</key>
			<integer>234</integer>
			<key>B</key>
			<integer>232</integer>
			<key>A</key>
			<integer>216</integer>
		</dict>
		<key>borderColor</key>
		<dict>
			<key>R</key>
			<integer>145</integer>
			<key>G</key>
			<integer>15</integer>
			<key>B</key>
			<integer>5</integer>
		</dict>
		<key>textColor</key>
		<dict>
			<key>R</key>
			<integer>145</integer>
			<key>G</key>
			<integer>15</integer>
			<key>B</key>
			<integer>5</integer>
		</dict>
	</dict>
	<dict>
		<key>endGradColor</key>
		<dict>
			<key>R</key>
			<integer>200</integer>
			<key>G</key>
			<integer>206</integer>
			<key>B</key>
			<integer>226</integer>
			<key>A</key>
			<integer>216</integer>
		</dict>
		<key>startGradColor</key>
		<dict>
			<key>R</key>
			<integer>232</integer>
			<key>G</key>
			<integer>242</integer>
			<key>B</key>
			<integer>255</integer>
			<key>A</key>
			<integer>216</integer>
		</dict>
		<key>borderColor</key>
		<dict>
			<key>R</key>
			<integer>23</integer>
			<key>G</key>
			<integer>38</integer>
			<key>B</key>
			<integer>99</integer>
		</dict>
		<key>textColor</key>
		<dict>
			<key>R</key>
			<integer>23</integer>
			<key>G</key>
			<integer>38</integer>
			<key>B</key>
			<integer>99</integer>
		</dict>
	</dict>
</array>
</plist>
